---
layout: null
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jean-Pierre van Zyl</title>
  <meta content="Jean-Pierre van Zyl - PhD Student in AI & Machine Learning at Stellenbosch University." name="description">
  <meta content="Jean-Pierre van Zyl, Machine Learning, AI, Stellenbosch University, PhD, Computer Science Portfolio" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/admin/favicon.png" rel="icon">
  <link href="/assets/img/admin/favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v2.0.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    {% include header.html %}
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Jean-Pierre van Zyl</h1>
      <p>I'm <span class="typed"
          data-typed-items="a Student, a Developer, an AI Enthusiast, a Noodle, a Coder, a Realist"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Hi there, welcome to my personal portfolio.<br>
            I'm Jean-Pierre, a Stellenbosch University Computer Science student.
            I'm currently doing my PhD in machine learning and artificial intelligence under the supervision of
            Professor A.P.
            Engelbrecht. <br><br>
            During my undergrad and Masters, I lived in Majuba Men's Residence and had the privilege to serve on the
            leadership of the House.
            My experiences on the House Committee, as Primarius and as Vice-Primarius were phenomenal and have had a
            great impact on my views and capabilities.
            These experiences have taught me how to lead, manage my time, make sacrifices and to be part of something
            bigger than myself. <br><br>
            Research has become my passion and I aim to continue making contributions to the artificial intelligence
            community.
            My Master's thesis, "Rule Induction using Swarm Intelligence", made new contribution in the field of
            explainable artificial intelligence with the idea that transparent models are more interpretable and
            therefore trustworthy.
            My PhD thesis is focused on automated machine learning, specifically the use of concepts from quantum
            mechanics to improve state-of-the-art optimisation methods.
            Automated machine learning aims to democratise the power of modern day artificial intelligence, by making
            tools more readily available to non-technical users.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/assets/img/admin/profile-img.jpg" height="100%" width="100%" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Personal information.</h3>
            <p class="font-italic">
              In my spare time I enjoy triathlon training, pretending that my problems don't exist, shouting at the TV,
              volunteering for SANParks, and making cocktails.<br>
              If you want to know whether I want to create an AI that takes over the world, the answer is yes.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong><a
                      href="https://jeanpierrevanzyl.github.io/"> jeanpierrevanzyl.github.io</a></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> You'll have to buy me a drink first
                  </li>
                  <li><i class="icofont-rounded-right"></i> <strong>Institution:</strong> Stellenbosch University</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Stellenbosch, RSA</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Current Occupation:</strong> Student</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> MSc</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> vanzylj -at- sun -dot- ac -dot- za</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              The internet is no place to get to know someone, take a walk outside.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I am a hard-working individual with a well-rounded set of skills stemming from years of experience in
            student
            leadership and extra-mural activities including musical theatre and sport.
            I aim to live a balanced lifestyle to ensure that I always perform to the best of my abilities.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Jean-Pierre van Zyl</h4>
              <p><em>Brief overview of experience</em></p>
              <ul>
                <li><a href="/assets/documents/jvz-cv.pdf" target="_blank">Curriculum Vitae</a></li>
                <li>Currently hold MSc in Computer Science</li>
                <li>Work experience consists of multiple internships</li>
                <li>Multiple years spent serving on student leadership</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>PhD in Computer Science (In progress)</h4>
              <h5>2023 - </h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em></p>
              <ul>
                <li>Currently studying under Professor A.P. Engelbrecht</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Master of Science in Computer Science (Cum Laude)</h4>
              <h5>2021 - 2022</h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em></p>
              <ul>
                <li>Obained Cum Laude</li>
                <li>
                  <div class="image-toggle-container">
                    <span class="clickable-text" onclick="toggleImage(this)">View Degree</span>
                    <img src="/assets/img/resume/masters.png" class="hidden-image floating-image">
                  </div>
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Science (Honours) in Computer Science (Cum Laude)</h4>
              <h5>2020 - 2020</h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em></p>
              <ul>
                <li>Obained Cum Laude</li>
                <li>
                  <div class="image-toggle-container">
                    <span class="clickable-text" onclick="toggleImage(this)">View Degree</span>
                    <img src="/assets/img/resume/honours.png" class="hidden-image floating-image">
                  </div>
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Science in Mathematical Sciences (Computer Science)</h4>
              <h5>2017 - 2019</h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em></p>
              <ul>
                <li>Completed a BSc in Mathematical Sciences with a main stream in Computer Science</li>
                <li>
                  <div class="image-toggle-container">
                    <span class="clickable-text" onclick="toggleImage(this)">View Degree</span>
                    <img src="/assets/img/resume/undergrad.png" class="hidden-image floating-image">
                  </div>
                </li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>National Senior Certificate</h4>
              <h5>2012 - 2016</h5>
              <p><em>Fairmont High School, Durbanville, RSA</em></p>
              <ul>
                <li>Obtained 6 distinctions</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>

            <div class="resume-item">
              <h4>Junior Lecturer, Part-time</h4>
              <h5>2025 - 2026</h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em> (<a href="https://www.ie.sun.ac.za/"
                  target="_blank">ie.sun.ac.za</a>)</p>
              <ul>
                <li>Lecturing and student supervision</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Scholarship program</h4>
              <h5>2023</h5>
              <p><em>BMW IT Hub, Pretoria, RSA</em> (<a href="https://www.bmwithub.co.za/"
                  target="_blank">bmwithub.co.za</a>)</p>
              <ul>
                <li>PhD funded by BMW as a contractor for the IT Hub</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Teaching Assistant, Part-time</h4>
              <h5>2022 - 2024</h5>
              <p><em>Stellenbosch University, Stellenbosch, RSA</em> (<a href="https://www.ie.sun.ac.za/"
                  target="_blank">ie.sun.ac.za</a>)</p>
              <ul>
                <li>Project marking and module adim</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Intern, Part-time</h4>
              <h5>Mar 2021 - Jun 2021</h5>
              <p><em>Merlynn Intelligence Technologies, Centurion, RSA</em> (<a href="https://www.merlynn-ai.com/"
                  target="_blank">merlynn-ai.co.za</a>)</p>
              <ul>
                <li>Merlynn is an artificial intelligence firm developing customized AI solutions, without the need for
                  historical data.</li>
                <li>Worked remotely while studying my MSc, contributed to expanding the capabilities of their AI
                  systems.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Intern, vac work</h4>
              <h5>Jan 2021 - Feb 2021</h5>
              <p><em>Polymorph Systems, Stellenbosch, RSA</em> (<a href="https://www.polymorph.co.za/"
                  target="_blank">polymorph.co.za</a>)</p>
              <ul>
                <li>Polymorph is a software solutions company with wide range of focus and experience across industries
                </li>
                <li>Worked as a part of the in-house R&amp;D team which drove the expansion of the company's IoT work to
                  include Computer Vision at the Edge</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Intern, vac work</h4>
              <h5>Nov 2020 - Dec 2020</h5>
              <p><em>NMRQL Research, Stellenbosch, RSA</em> (<a href="https://nmrql.com/" target="_blank">nrmql.com</a>)
              </p>
              <ul>
                <li>NRMQL is an AI-driven investment company using cutting-edge technology to disrupt the industry</li>
                <li>Position provided first introduction to the Fintech industry</li>
                <li>Contributed to the expansion of the set of tools used to trade securities</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Research Section ======= -->
    <section id="research" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Research Experience</h2>
          <p>All this stuff is fake. How does one even judge an open-ended skill as a percentage? But I see all the kids
            are doing it.</p>
        </div>
        <div class="row skills-content">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">Particle Swarm Optimisation <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Genetic Programming <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Combinatorial Optimisation <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="progress">
              <span class="skill">Neural Networks <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Rule Induction <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Quantum Mechanics <i class="val">15%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Research Section -->

    <!-- ======= Publications Section ======= -->
    <section id="publications" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Publications</h2>
          <p>Outlined are selected publications</p>
        </div>

        <div class="row">
          <!-- Start Publications -->

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxs-book"></i></div>
            <h4 class="title"><a href="/assets/documents/mallows-model.pdf" target="_blank">Closed-Form Expressions for
                the Normalizing Constants of the Mallows Model and Weighted Mallows Model on Combinatorial Domains</a>
            </h4>
            <p class="description">
              This paper expands the Mallows model for use in combinatorial domains by deriving closed-form expressions
              for the normalizing constant of the distribution under various discrepancy functions, calculable in
              constant time.
              <a href="https://www.mdpi.com/2227-7390/13/19/3126" target="_blank">MDPI Mathematics</a>.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxs-book"></i></div>
            <h4 class="title"><a href="/assets/documents/analysis-of-metric-behaviour.pdf" target="_blank">Analysis of
                classification metric behaviour under class imbalance</a></h4>
            <p class="description">
              This paper shows the unreliability of contemporary performance evaluation metrics for classification
              problems, and proposes a method to create robust metrics.
              <a href="https://www.sciencedirect.com/science/article/pii/S1110866525001045" target="_blank">Elsevier
                Egyptian Informatics Journal</a>.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxs-book"></i></div>
            <h4 class="title"><a href="/assets/documents/sbpso-review.pdf" target="_blank">Set-Based Particle Swarm
                Optimisation: A Reivew</a></h4>
            <p class="description">
              The main objective of this paper is to review the set-based particle swarm optimisation algorithm and to
              provide an overview of the problems to which the algorithm has been applied.
              <a href="https://www.mdpi.com/2227-7390/11/13/2980" target="_blank">MDPI Mathematics</a>.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxs-book"></i></div>
            <h4 class="title"><a href="/assets/documents/risbpso.pdf" target="_blank">Rule Induction Using Set-Based
                Particle Swarm Optimisation</a></h4>
            <p class="description">
              The SBPSO algorithm was successfully applied to induce rule sets on categorical data to allow for
              transparent classification for critical industries.
              This work has been published at the <a href="https://wcci2022.org/" target="_blank">IEEE World Congress On
                Computational Intelligence (2022)</a>.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxs-book"></i></div>
            <h4 class="title"><a href="/assets/documents/Polynomial_approximation_using_SBPSO.pdf"
                target="_blank">Polynomial Approximation Using Set-Based Particle Swarm Optimization</a></h4>
            <p class="description">The SBPSO is an adaptation of the standard PSO for problems in a discrete search
              space.
              This algorithm was applied to solve regression problems and published for the <a
                href="http://www.iasei.org/icsi2021/" target="_blank">International Conference on Swarm Intelligence
                (2021)</a>.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Publications Section -->

    <!-- Testimonials Section -->
    <section id="students" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Student Supervision</h2>
          <p>A summary of past students supervised</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="icofont-quote-left quote-icon-left"></i>
              Deep learning models, characterised by their multilayered complexity and vast parameter counts, have
              become the prevailing approach to image classification.
              Yet, the widespread adoption of deep architectures often occurs without critical assessment of whether such complexity is necessary.
              The study presented in this research assignment re-examines the assumption that deeper architectures are inherently superior. 
              The investigation focuses on whether shallow neural networks, when supported by informed preprocessing, can achieve accuracy comparable to deep learning models while maintaining efficiency and interpretability.
              Three benchmark datasets of increasing complexity — MNIST, Fashion MNIST, and CIFAR-10 — are used to evaluate the hypothesis of the study.
              The study follows a structured, data-centric process which comprises exploratory data analysis, model-centric preprocessing, dataset-centric enhancement, and statistical validation.
              Class-specific preprocessing pipelines are developed to address residual misclassification, and incorporates handcrafted features such as edge, texture, and colour descriptors that reflect the visual attributes most relevant to each dataset.
              Across thirty independent runs, the optimised shallow networks achieve mean test accuraciesof 98.67% on MNIST, 88.16% on Fashion MNIST, and 78.44% on CIFAR-10.
              Performance on MNIST and Fashion MNIST match that of reported deep learning baselines, while the CIFAR-10 results demonstrate that shallow architectures remain viable for complex datasets when supported by targeted preprocessing, feature engineering, and ensembling.
              Statistical analyses confirm that improvements are significant and accompanied by reduction in required computational resources.
              The results challenge the presumption that depth is a prerequisite for high performance, and demonstrate instead that data-centric refinement can deliver competitive accuracy with substantially lower computational cost.
              The study contributes are producible framework for aligning model complexity with data characteristics, and advances the case for data-centric, efficiency-aware evaluation in modern image classification.
              <i class="icofont-quote-right quote-icon-right"></i>
            </p>
            <h3>Andrea Mitchell</h3>
            <h4>To Go Deep, Or Not To Go Deep</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="icofont-quote-left quote-icon-left"></i>
              The research develops a particle swarm optimisation-based maximum-margin classifier that addresses the computational and theoretical limitations of quadratic programming used in training support vector machines.
              Conventional training in the primal or dual form requires strict convexity, satisfaction of the Karush-Kuhn-Tucker conditions, and clean, balanced data.
              In practice, real-world datasets often contain noise, class imbalance, and high dimensionality, which increase computational cost and reduce the reliability of quadratic program-ming solvers.
              To reduce computational effort and focus optimisation on informative samples, the procedure is restricted to Tomek link pairs located near class boundaries.
              The removal of redundant and non-support vectors lowers the effective problem dimensionality and improves margin estimation, which yields more stable and generalisable decision boundaries.
              The framework is extended to non-linear classification through kernel functions, such as radial basis function and polynomial kernels, which implicitly map data into higher-dimensional feature spaces to model complex decision surfaces under class overlap and noise.
              Experiments on seven benchmark datasets and four synthetic datasets show that the proposed classifier achieves classification accuracy and F1 scores comparable to, or exceeding, those of support vector ma-chines trained using quadratic programming.
              Although the method requires greater computational resources due to iterative fitness evaluations, it provides a flexible, solver-free alternative that avoids assumptions of convexity, differentiability, and dual formulation.
              <i class="icofont-quote-right quote-icon-right"></i>
            </p>
            <h3>Sizalobuhle Ncube</h3>
            <h4>A particle swarm optimisation-based Maximum-Margin Classifier</h4>
          </div>


        </div>
      </div>
    </section><!-- /Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Unfortunately most previous works are covered under NDAs, but below are some open-source projects I've done
            part-time.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-finance">Finance</li>
              <li data-filter=".filter-afrikaans">Afrikaans</li>
              <!--<li data-filter=".filter-web">Web</li>-->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-finance">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-luxor/chart-analysis-portfolio-details.jpg" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-luxor/chart-analysis-portfolio-details.jpg"
                  data-gall="portfolioGallery" class="venobox" title="Stonks"><i class="bx bx-plus"></i></a>
                <a href="html/portfolio/luxor-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-afrikaans">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-xournalpp/background.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-xournalpp/background.png" data-gall="portfolioGallery"
                  class="venobox" title="Xournal++"><i class="bx bx-plus"></i></a>
                <a href="html/portfolio/xournalpp-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

        <!-- ======= Unrelated Section ======= -->
    <section id="unrelated" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Unrelated</h2>
          <p>Some film works. Why not.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/001.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/002.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/003.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/004.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/005.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/006.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/007.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/008.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/009.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/010.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/011.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/012.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/013.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/014.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/015.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/016.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/017.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/018.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/019.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/020.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div>
              <img src="/assets/img/film/021.jpg" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel free to contact me about any freelance work, academic consultations or general queries</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="d-flex align-items-stretch">
            <!--was also col-lg-5-->
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Media Lab, Engineering Faculty, Stellenbosch University, Stellenbosch 7600</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>vanzylj -at- sun -dot- ac -dot- za</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>Still waiting on that drink</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.457199273753!2d18.86257587629747!3d-33.929367173203524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcdb2664ed69f07%3A0xf377c3ed48c3ce72!2sGeneral%20Engineering%20Building!5e0!3m2!1sen!2sza!4v1768234435845!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    {% include footer.html %}
  </footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>